*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    padding: .7rem .7rem;
    color: burlywood;
    text-decoration: none;
}
.navbar-a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
.navbar-b{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
.navbar a{
    color:#428bca ;
    text-decoration:none;
    font-size: 1.4rem;
    margin: .4rem .4rem 0;
    /* transition: 50ms; */
}
/* .navbar a:hover,
.navbar a.active{
    color: burlywood;
    text-decoration: underline;
} */
.container{
    padding: 1.5rem;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
footer{
    margin-top: auto;
    background-color: #f9f9f9;
    height: 1.8rem;
    font-size: 0.8rem;
    font-family: monospace;
    text-align: center;
}

/* Mobile devices in portrait mode */
 @media only screen and (max-width: 767px) {
    .navbar{
        margin: .6rem;
    }
  }

/* Mobile devices in landscape mode */
 /* @media only screen and (min-width: 768px) and (max-width: 991px) { } */

/* Tablets in portrait mode */
 /* @media only screen and (min-width: 768px) and (max-width: 991px) { } */

/* Tablets in landscape mode */
 /* @media only screen and (min-width: 992px) and (max-width: 1199px) { } */

/* Small desktop screens */
 /* @media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .navbar a{
    color:#428bca ;
    text-decoration:none;
    font-size: 25px;
    text-transform: uppercase;
    transition: 50ms;
    margin: .5rem;
}
    .navbar-a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
.navbar-b{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
    .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 37px;
    padding: 17px;
    color: burlywood;
    text-decoration: none;
}
    footer{
    margin-top: auto;
    background-color: #f9f9f9;
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
  } */

/* Large desktop screens */
 /* @media only screen and (min-width: 1440px) {
    .navbar a{
    color:#428bca ;
    text-decoration:none;
    font-size: 25px;
    text-transform: uppercase;
    transition: 50ms;
    margin: .5rem;
}
    .navbar-a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
.navbar-b{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    font-style: oblique;
}
    .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 37px;
    padding: 17px;
    color: burlywood;
    text-decoration: none;
}
    footer{
    margin-top: auto;
    background-color: #f9f9f9;
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
  } */